*{
    padding: 0%;
    margin: 0%;
}

#tab{
    padding-left: 30%;
}
table{
    width: 500px;
    text-align: center;
}
th{
    height: 50px;
    
}
td{
    text-align: center;
}
#input{
    padding-top: 10px;
    padding-left: 30%;
}
.inp{
    width: 10cm;
    padding-bottom: 10px;
    border: 1px;
    border-radius: 10px;
    border-color: rgb(234, 176, 142);
    
}