*{
    padding: 0%;
    margin: 0%;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
.forma{
   padding-top: 10%;
   padding-left: 40%;
   padding-bottom: 10%;
   position: fixed;
}
#for{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(81, 93, 95);
    text-align: center;
}
#inp{
    padding-top: 5px;
    padding-bottom: 5px;
}
label{
    color: aliceblue;
}
.input{
    margin-left: 20px;
    width: 180px;
    height: 30px;
    border: 1px;
    border-radius: 10px;
    border-color: blue;
}
.input:hover{
    border-color: chocolate;
}
.selec{
    width: 100px;
    height: 20px;
    border: 1px;
    border-radius: 10px;
}
.sub{
    margin-top: 20px;
    width: 90px;
    height: 30px;
    border: 1px;
    color: aliceblue;
    background-color: green;
    cursor: pointer;
}
.sub:hover{
    background: #ddd;
    color: black;
}